<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="spring2:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring2</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring2-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring2:war exploded" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="jpa-descriptors" facet="spring2/jpa/JPA" />
        </element>
      </element>
    </root>
  </artifact>
</component>